@use '../elements/mixin';

.contacts {
  @include mixin.section;
  width: 100%;
  justify-content: center;
  align-items: center;
  .socials-wrapper {
    display: flex;
    flex-direction: column;
  }
}