@use '../elements/mixin';

.experience {
  @include mixin.section;
  align-items: center;
  width: 100%;
  padding-bottom: 8rem;

  h2 {
    @include mixin.subtitle;
    margin-bottom: 2rem;
  }

  .jobs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    // margin-bottom: 4.5rem;
    .job {
      width: 80%;
      margin: 1.5rem 0 2rem 0;
      display: flex;

      .title-wrapper {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        margin-right: 1.5rem;

        img {
          width: 180px;
        }

        i {
          font-size: 4rem;
        }

        h3 {
          text-align: right;
        }
      }

      .job-descript {
        width: 70%;
        padding-left: 2rem;

        p:not(:last-child) {
          padding-bottom: 1rem;
        }

        p {
          @include mixin.link;
          line-height: 130%;
        }
      }
    }
  }
}