.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  font-family: var(--content-font);
  color: var(--content-color);
  padding-bottom: 5rem;

  h2 {
    font-family: var(--title-font);
    font-size: var(--subtitle-size);
    color: var(--subtitle-color);
    margin-bottom: 2rem;
  }

  .projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 5rem 0;
      @media only screen and (max-width: 950px) {
        flex-direction: column;
      }

      .page-wrapper {
        width: var(--page-width);
        height: var(--page-height);
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 480px) {
          transform: scale(0.8);
        }

        .page-tab {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          max-width: fit-content;
          border: 2px solid white;
          border-radius: 5px 5px 0px 0px;
          border-bottom: none;

          h3 {
            padding: 0.5rem 1rem;
          }
        }

        .page {
          border: 2px solid white;
          width: 100%;
          height: 100%;
          border-radius: 0px 5px 5px 5px;

          .page-address {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 100%;
            border-bottom: 2px solid white;

            .address {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              height: 75%;
              width: 95%;
              border: 2px solid white;
              border-radius: 15px;
              padding: 0rem 1rem;

              a {
                color: var(--content-color);
                text-decoration: none;
                padding-left: 1rem;
              }
            }
          }

          .page-content {
            max-height: fit-content;
            img {
              width: 100%;
              padding: 1.7rem;
              border-radius: 15px;
            }
          }
        }
      }

      p {
        width: 40%;
      }
    }

  }
}

@media only screen and (max-width: 950px) {
  .project-wrapper {
    // .page-wrapper {
    //   transform: scale(0.8);
    // }
    p {
      width: var(--content-width) !important;
    }
  }
}
