.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  font-family: var(--content-font);
  color: var(--content-color);
  padding-bottom: 5rem;
}
.projects h2 {
  font-family: var(--title-font);
  font-size: var(--subtitle-size);
  color: var(--subtitle-color);
  margin-bottom: 2rem;
}
.projects .projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .projects-container .project-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
}
@media only screen and (max-width: 950px) {
  .projects .projects-container .project-wrapper {
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
}
.projects .projects-container .project-wrapper .page-wrapper {
  width: var(--page-width);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 2rem 0 4.5rem;
}
@media only screen and (max-width: 530px) {
  .projects .projects-container .project-wrapper .page-wrapper {
    transform: scale(0.8);
  }
}
.projects .projects-container .project-wrapper .page-wrapper .page-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 2px solid white;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}
.projects .projects-container .project-wrapper .page-wrapper .page-tab h3 {
  padding: 0.5rem 1rem;
}
.projects .projects-container .project-wrapper .page-wrapper .page {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  border-radius: 0px 5px 5px 5px;
}
.projects .projects-container .project-wrapper .page-wrapper .page .page-address {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid white;
}
.projects .projects-container .project-wrapper .page-wrapper .page .page-address .address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75%;
  width: 95%;
  border: 2px solid white;
  border-radius: 15px;
  padding: 0rem 1rem;
}
.projects .projects-container .project-wrapper .page-wrapper .page .page-address .address a {
  color: var(--link-color);
  text-decoration: none;
  padding-left: 1rem;
}
.projects .projects-container .project-wrapper .page-wrapper .page .page-content {
  display: flex;
}
.projects .projects-container .project-wrapper .page-wrapper .page .page-content img {
  width: 100%;
  padding: 1.3rem;
  border-radius: 15px;
}
.projects .projects-container .project-wrapper .project-descript {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 4.5rem 0 2rem;
  font-size: 1.05rem;
  text-align: justify;
}
@media only screen and (max-width: 530px) {
  .projects .projects-container .project-wrapper .project-descript {
    height: 50vh;
  }
}
.projects .projects-container .project-wrapper .project-descript .mini-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-evenly;
}
.projects .projects-container .project-wrapper .project-descript .mini-info h4 .bracket {
  color: var(--curly-brac);
}
.projects .projects-container .project-wrapper .project-descript .mini-info h4 .property {
  color: var(--property);
}
.projects .projects-container .project-wrapper .project-descript .mini-info h4 .value {
  color: var(--link-color);
}
.projects .projects-container .project-wrapper .project-descript .mini-info .tech-stack {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.projects .projects-container .project-wrapper .project-descript p a {
  color: var(--link-color);
  text-decoration: none;
}
.projects .projects-container .project-wrapper .project-descript p a:hover {
  border: 1px solid var(--link-color);
}
.projects .projects-container .project-wrapper .project-descript .button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.projects .projects-container .project-wrapper .project-descript .button-wrapper button {
  font-family: var(--title-font);
  font-size: 1.05rem;
  color: var(--content-color);
  background-color: var(--bg-color);
  border: 2px solid var(--content-color);
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.projects .projects-container .project-wrapper .project-descript .button-wrapper button i {
  padding-right: 0.5rem;
}
.projects .projects-container .project-wrapper .project-descript .button-wrapper button:hover {
  color: var(--page-btn);
  border-color: var(--page-btn);
}

@media only screen and (max-width: 950px) {
  .page-wrapper {
    flex-grow: 0 !important;
    margin: 0 !important;
  }
  .project-descript {
    width: var(--content-width) !important;
    margin: 0 !important;
  }
}/*# sourceMappingURL=projects.css.map */