@mixin section {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  color: var(--content-color);
  font-family: var(--content-font);
}

@mixin subtitle {
  font-family: var(--title-font);
  font-size: var(--subtitle-size);
  color: var(--subtitle-color);
}

@mixin link {
  a {
    color: var(--link-color);
    text-decoration: none;
  }

  a:hover {
    border: 1px solid var(--link-color);
  }
}

@mixin page-btn {
  button {
    font-family: var(--title-font);
    font-size: 1.05rem;
    color: var(--content-color);
    background-color: var(--bg-color);
    border: 2px solid var(--content-color);
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    margin: 2rem 0;
    width: max-content;

    i {
      padding-right: 0.5rem;
    }
  }

  button:hover {
    color: var(--page-btn);
    border-color: var(--page-btn);
  }
}