@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");
@font-face {
  font-family: "Louise Regular";
  src: url("../assets/Louise-Regular.otf");
}
@font-face {
  font-family: "Combine";
  src: url("../assets/Combine.otf");
}
@font-face {
  font-family: "Saint";
  src: url("../assets/Saint Regular.ttf");
}
@font-face {
  font-family: "Milkman";
  src: url("../assets/milkman.ttf");
}
@font-face {
  font-family: "New Heterodox Mono Book";
  src: url("../assets/NewHeterodoxMono-Book.otf");
}
@font-face {
  font-family: "New Heterodox Mono Bold";
  src: url("../assets/NewHeterodoxMono-Bold.otf");
}
@font-face {
  font-family: "Fablab";
  src: url("../assets/Fablab.ttf");
}
.top-bar {
  background-color: var(--green);
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  transition: ease 0.4s;
}
.top-bar .nav-wrapper {
  display: flex;
}
.top-bar button {
  font-family: "Fablab";
  font-size: 2vmin;
  border-radius: 10px;
  height: 5vmin;
  padding: 1.5vmin;
  background-color: #bdffd1;
  border: 2.5px solid #67a563;
  transition: transform 0.5s;
}
.top-bar--scrolled {
  height: 50px;
}
.top-bar--scrolled button {
  height: 1.5vmin;
  display: flex;
  align-items: center;
  transform: scale(0.8);
}

.small-nav {
  display: none;
}

@media only screen and (max-width: 650px) {
  .top-bar {
    display: none;
  }
}
.hero {
  overflow: hidden;
  background-color: var(--bg-color);
}
.hero .hero-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/portfolio-hero.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .hero-image h2 {
  font-family: "Saint";
  font-size: 2.5em;
  color: white;
}

.transition {
  position: relative;
  max-width: 1920px;
  height: var(--height);
}
.transition .layer {
  background-position: top center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  width: 100%;
  height: var(--height);
}

.matrix-3 {
  background-image: url("../assets/matrix3.png");
  position: absolute;
  z-index: 0;
}

.matrix-2 {
  background-image: url("../assets/matrix2.png");
  position: absolute;
  z-index: 1;
}

.matrix-1 {
  background-image: url("../assets/matrix1.png");
  z-index: 2;
}

.about {
  background-color: aquamarine;
  font-family: "Almendra Display", serif;
  font-weight: bold;
  font-size: 2em;
}

.projects {
  background-color: bisque;
  font-family: "Louise Regular";
}

.experience {
  background-color: aqua;
  font-family: "Combine";
}
.experience .job img {
  width: 200px;
}
.experience .job .job-descript {
  width: 400px;
}

.interests {
  background-color: lavender;
}

.contacts {
  background-color: tomato;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts .socials-wrapper {
  display: flex;
  flex-direction: column;
}

:root {
  --bg-color: #2e2b2b;
  --green: rgb(51, 255, 187);
  --height: 800px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

section {
  height: 100vh;
}/*# sourceMappingURL=main.css.map */