@use 'elements/fonts';
@use 'elements/navbar';
@use 'sections/hero';
@use 'sections/about';
@use 'sections/projects';
@use 'sections/experience';
@use 'sections/interests';
@use 'sections/contacts';
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

:root {
  --bg-color: #2e2b2b;
  --green: rgb(51, 255, 187);
  --height: 800px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

section {
  height: 100vh;
}

