@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

@font-face {
  font-family: 'Louise Regular';
  src: url('../assets/Louise-Regular.otf');
}

@font-face {
  font-family: 'Combine';
  src: url('../assets/Combine.otf');
}

@font-face {
  font-family: 'Saint';
  src: url('../assets/Saint\ Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
}

.top-bar {
  background-color: pink;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  .nav-links {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  &--scrolled {
    height: 40px;
  }
}

section {
  height: 100vh;
}

.hero {
  // background-color: aliceblue;
  .hero-image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/portfolio-hero.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h2 {
      font-family: 'Saint';
      font-size: 2.5em;
      color: white;
    }
  }
}

.about {
  background-color: aquamarine;
  font-family: 'Almendra Display', serif;
  font-weight: bold;
}

.projects  {
  background-color: bisque;
  font-family: 'Louise Regular';
}

.experience {
  background-color: aqua;
  font-family: 'Combine';
  .job {
    img {
      width: 200px;
    }
    .job-descript {
      width: 400px;
    }
  }
}

.interests {
  background-color: lavender;
}

// .contact {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   .form-wrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     form {
//       width: 500px;
//       display: flex;
//       flex-direction: column;
//     }
//     .socials-wrapper {
//       display: flex;
//       width: 500px;
//       justify-content: space-evenly;
//     }
//   }
// }

.contact {
  background-color: tomato;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .socials-wrapper {
    display: flex;
    flex-direction: column;
  }
}